@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$primary-color: #2d9cdb;
$select-color: #eb5757;
$pitch-black: #38383f;
$pitch-black-low-opac: #38383f7c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  // background: url("./../assets/curvesStill.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 4px;
  transition: 0.5s;
}

/* Handle on hover */

body {
  // background: url("./../assets/curvesStillCropped.png");
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: contain;
  background-color: #242429;
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: #242429;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 3;

  .navigators {
    display: flex;

    ul {
      display: flex;
      li {
        list-style: none;
        padding: 10px 20px;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }

        a:hover {
          font-weight: bold;
        }
      }
    }

    .download-btn {
      width: 109px;
      height: 37px;
      background-color: $primary-color;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      font-weight: 800;
      font-size: 14px;
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
    }

    .download-btn:hover {
      background-color: $select-color;
      transform-origin: center;
    }
  }
}

header {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  .video-overlay {
    width: 100%;
    height: auto;
    overflow-x: hidden;

    #bg-video {
      min-width: 100%;
      min-height: 100%;
    }
    figure {
      position: absolute;
      width: 100%;
      display: flex;
      bottom: 27%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      #header-logo {
        width: 8rem;
      }

      p {
        color: #ffffff;

        font-size: 50px;
        font-weight: 600;
      }

      figcaption {
        color: #ffffff;

        font-size: 30px;
      }
    }
  }
}

#features {
  section {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(24, 26, 27);
    color: #ffffff;

    figure {
      padding: 50px;
      p {
        font-size: 40px;
        line-height: 60px;
      }
      figcaption {
        font-size: 20px;
        line-height: 30px;
      }
    }

    img {
      height: 35vh;
      border-radius: 20px;
    }
  }

  section.invert {
    background-color: $pitch-black;
    flex-direction: row-reverse;
  }

  section.exceptional {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../assets/curvesStillCropped.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
      display: none;
    }

    figure {
      color: #ffffff;
      text-align: center;
    }
  }
}

#downloads {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  background-color: $primary-color;
  color: #ffffff;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 3rem;
    font-weight: 600;
  }

  section.dl-links {
    display: flex;
    a {
      text-decoration: none;
      color: #ffffff;
      width: 20rem;
      height: 4rem;
      margin: 10px 20px;
      background: $pitch-black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      transition: 0.9s;
      cursor: pointer;
    }

    a:hover {
      background-color: $select-color;
    }
  }
}

#about {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
  // background: url("./../assets/curvesStill.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  p {
    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    padding-left: 70px;
    text-align: center;
  }

  // #about-overlay{
  //   width: 100%;
  //   height: 50vh;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: #24242950;
  //   z-index: 2;
  // }
}

// Media Queries!!
@media only screen and (max-width: 1440px) {
  #downloads {
    section.dl-links {
      display: flex;
      flex-direction: column;
    }
  }

  #features {
    section {
      figure {
        p {
          font-size: 30px;
        }
        figcaption {
          font-size: 15px;
        }
      }
      img {
        margin-right: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section {
      img {
        height: 25rem;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  #about {
    justify-content: space-evenly;
    p {
      font-size: 0.9rem;
      line-height: 30px;
      margin: 10px 20px;
      text-align: center;
      padding-left: 0;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section,
    section.invert {
      flex-direction: column-reverse;
      height: 60vh;
      img {
        height: 18rem;
        margin-top: 60px;
        margin-right: 10;
      }

      figure {
        text-align: center;
        margin-top: none;

        p {
          font-size: 20px;
        }

        figcaption {
          line-height: normal;
          font-size: 15px;
        }
      }
    }
  }

  // header {
  //   #bg-video {
  //     min-width: 50%;
  //     min-height: 50%;
  //   }
  // }

  header {
    .video-overlay {
      figure {
        p {
          color: #ffffff;
          font-size: 35px;
          font-weight: 600;
        }

        figcaption {
          color: #ffffff;

          font-size: 20px;
        }
      }
    }
  }

  nav {
    flex-direction: column;
    height: 7rem;
  }
}

@media only screen and (max-width: 425px) {
  #about {
    height: 30vh;
    p {
      font-size: 0.9rem;
      line-height: 30px;
      margin: 10px 20px;
      text-align: center;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section,
    section.invert {
      img {
        height: 12rem;
        margin-top: 60px;
        border-radius: 10px;
      }

      figure {
        text-align: center;

        p {
          font-size: 20px;
          line-height: normal;
        }
      }
    }
  }

  header {
    // background-position: bottom 20% right 60%;
    .video-overlay {
      figure {
        #header-logo {
          width: 7rem;
        }

        p {
          color: #ffffff;
          font-size: 35px;
          font-weight: 600;
        }

        figcaption {
          color: #ffffff;

          font-size: 20px;
        }
      }
    }
  }

  nav {
    .navigators {
      ul {
        li {
          padding: 10px 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  #about {
      height: 30vh;
    p {
      font-size: 0.9rem;
      line-height: 30px;
      margin: 10px 20px;
      text-align: center;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {

    section,
    section.invert {
      img {
        height: 9rem;
        margin-top: 60px;
        border-radius: 10px;
      }

      figure {
        text-align: center;

        p {
          font-size: 20px;
          line-height: normal;
        }
      }
    }
  }

  header {

    // background-position: bottom 20% right 60%;
    .video-overlay {
      figure {
        #header-logo {
          width: 7rem;
        }

        p {
          color: #ffffff;
          font-size: 35px;
          font-weight: 600;
        }

        figcaption {
          color: #ffffff;

          font-size: 20px;
        }
      }
    }
  }

  nav {
    .navigators {
      ul {
        li {
          padding: 10px 10px;
        }
      }
    }
  }
}
