@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d9cdb;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Handle on hover */
body {
  background-color: #242429;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #242429;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 3;
}

nav .navigators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navigators ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navigators ul li {
  list-style: none;
  padding: 10px 20px;
}

nav .navigators ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

nav .navigators ul li a:hover {
  font-weight: bold;
}

nav .navigators .download-btn {
  width: 109px;
  height: 37px;
  background-color: #2d9cdb;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-weight: 800;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

nav .navigators .download-btn:hover {
  background-color: #eb5757;
  -webkit-transform-origin: center;
          transform-origin: center;
}

header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

header figure #header-logo {
  width: 8rem;
}

header figure p {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}

header figure figcaption {
  color: #ffffff;
  font-size: 30px;
}

header .fullscreen-vid-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

header #bg-video {
  min-width: 100%;
  min-height: 100%;
}

#features section {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
}

#features section figure {
  padding: 50px;
  line-height: 60px;
}

#features section figure p {
  font-size: 40px;
}

#features section figure figcaption {
  font-size: 20px;
}

#features section img {
  height: 20rem;
  border-radius: 20px;
}

#features section.invert {
  background-color: #38383f;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #ffffff;
}

#features section.exceptional {
  background: url("./../assets/curvesStillCropped.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#features section.exceptional img {
  display: none;
}

#features section.exceptional figure {
  color: #ffffff;
  text-align: center;
}

#downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  width: 100%;
  background-color: #2d9cdb;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#downloads p {
  font-size: 3rem;
  font-weight: 600;
}

#downloads section.dl-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#downloads section.dl-links a {
  text-decoration: none;
  color: #ffffff;
  width: 20rem;
  height: 4rem;
  margin: 10px 20px;
  background: #38383f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  cursor: pointer;
}

#downloads section.dl-links a:hover {
  background-color: #eb5757;
}

#about {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #ffffff;
}

#about p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 50px;
  padding-left: 70px;
}

@media only screen and (max-width: 1440px) {
  #downloads section.dl-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #features section figure p {
    font-size: 30px;
  }
  #features section figure figcaption {
    font-size: 15px;
  }
  #features section img {
    height: 15rem;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  #downloads p {
    font-size: 2.5rem;
  }
  #features section img {
    height: 10rem;
    border-radius: 20px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 768px) {
  #about {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #about p {
    font-size: 0.9rem;
    line-height: 30px;
    margin: 10px 20px;
    text-align: center;
    padding-left: 0;
  }
  #downloads p {
    font-size: 2.5rem;
  }
  #features section,
  #features section.invert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #features section img,
  #features section.invert img {
    height: 13rem;
    margin-top: 40px;
    margin-right: 0;
  }
  #features section figure,
  #features section.invert figure {
    text-align: center;
    margin-top: none;
  }
  #features section figure p,
  #features section.invert figure p {
    font-size: 20px;
  }
  #features section figure figcaption,
  #features section.invert figure figcaption {
    line-height: normal;
    font-size: 15px;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 7rem;
  }
}

@media only screen and (max-width: 425px) {
  #about p {
    font-size: 0.9rem;
    line-height: 30px;
    margin: 10px 20px;
    text-align: center;
  }
  #downloads p {
    font-size: 2.5rem;
  }
  #features section img,
  #features section.invert img {
    margin-top: 30px;
  }
  #features section figure,
  #features section.invert figure {
    text-align: center;
  }
  #features section figure p,
  #features section.invert figure p {
    font-size: 20px;
    line-height: normal;
  }
  header figure #header-logo {
    width: 5rem;
  }
  header figure p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
  }
  header figure figcaption {
    color: #ffffff;
    font-size: 10px;
  }
  nav .navigators ul li {
    padding: 10px 10px;
  }
}
/*# sourceMappingURL=style.css.map */