@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$primary-color: #2d9cdb;
$select-color: #eb5757;
$pitch-black: #38383f;
$pitch-black-low-opac: #38383f7c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // background: url("./../assets/curvesStill.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

body {
  // background: url("./../assets/curvesStillCropped.png");
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: contain;
  background-color: #242429;
}

nav {
  display: flex;
  background-color: #242429;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 3;

  .navigators {
    display: flex;

    ul {
      display: flex;
      li {
        list-style: none;
        padding: 10px 20px;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }

        a:hover {
          font-weight: bold;
        }
      }
    }

    .download-btn {
      width: 109px;
      height: 37px;
      background-color: $primary-color;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      font-weight: 800;
      font-size: 14px;
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
    }

    .download-btn:hover {
      background-color: $select-color;
      transform-origin: center;
    }
  }
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // background: url("./../assets/curvesStill.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

    #header-logo {
      width: 8rem;
    }

    p {
      color: #ffffff;

      font-size: 50px;
      font-weight: 600;
    }

    figcaption {
      color: #ffffff;

      font-size: 30px;
    }
  }

  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

#features {
  section {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;

    figure {
      padding: 50px;
      line-height: 60px;
      p {
        font-size: 40px;
      }
      figcaption {
        font-size: 20px;
      }
    }

    img {
      height: 20rem;
      border-radius: 20px;
    }
  }

  section.invert {
    background-color: $pitch-black;
    flex-direction: row-reverse;
    color: #ffffff;
  }

  section.exceptional {
    background: url("./../assets/curvesStillCropped.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
      display: none;
    }

    figure {
      color: #ffffff;
      text-align: center;
    }
  }
}

#downloads {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  background-color: $primary-color;
  color: #ffffff;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 3rem;
    font-weight: 600;
  }

  section.dl-links {
    display: flex;
    a {
      text-decoration: none;
      color: #ffffff;
      width: 20rem;
      height: 4rem;
      margin: 10px 20px;
      background: $pitch-black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      transition: 0.9s;
      cursor: pointer;
    }

    a:hover {
      background-color: $select-color;
    }
  }
}

#about {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
  // background: url("./../assets/curvesStill.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  p {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 50px;
  }

  // #about-overlay{
  //   width: 100%;
  //   height: 50vh;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: #24242950;
  //   z-index: 2;
  // }
}

// Media Queries!!
@media only screen and (max-width: 1440px) {
  #about {
    p {
      font-size: 1.3rem;
    }
  }

  #downloads {
    section.dl-links {
      display: flex;
      flex-direction: column;
    }
  }

  #features {
    section {
      figure {
        p {
          font-size: 30px;
        }
        figcaption {
          font-size: 15px;
        }
      }

      img {
        height: 15rem;
        border-radius: 20px;
      }
    }
  }

  header{
    #bg-video{
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #about {
    p {
      font-size: 1rem;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section {
      img {
        height: 10rem;
        border-radius: 20px;
        margin-right: 40px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #about {
    p {
      font-size: 0.9rem;
      line-height: 30px;
      margin: 10px 20px;
      text-align: center;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section,
    section.invert {
      flex-direction: column-reverse;

      img {
        height: 10rem;
        border-radius: 20px;
        margin-top: 40px;
      }

      figure {
        text-align: center;

        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  #about {
    p {
      font-size: 0.9rem;
      line-height: 30px;
      margin: 10px 20px;
      text-align: center;
    }
  }

  #downloads {
    p {
      font-size: 2.5rem;
    }
  }

  #features {
    section,
    section.invert {
      img {
        height: 10rem;
        border-radius: 20px;
        margin-top: 40px;
        text-align: center;
      }

      figure {
        text-align: center;

        p {
          font-size: 20px;
        }

        figcaption{
          line-height: normal;
        }
      }
    }
  }

  header {
    figure {
      #header-logo {
        width: 5rem;
      }

      p {
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
      }

      figcaption {
        color: #ffffff;

        font-size: 10px;
      }
    }
  }

  nav {
    flex-direction: column;
    height: 7rem;
  }
}
